* {
  border: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  &:focus {
    box-shadow: none !important;
  }

  // #{$ltr} & {
  //   text-transform: capitalize;
  // }

  // &:not(i){
  //     line-height: 1 !important;
  // }
}

// @font-face {
//   font-family: fontDemi;
//   src: url("../fonts/ArbFONTS-URW-DIN-Arabic-Demi.ttf");
// }

// @font-face {
//   font-family: fontBold;
//   src: url("../fonts/29ltbukrabold.ttf");
// }

// @font-face {
//   font-family: fontLight;
//   src: url("../fonts/29ltbukralight.ttf");
// }

// @font-face {
//   font-family: fontReg;
//   src: url("../fonts/Tbregular.ttf");
// }

// @font-face {
//   font-family: fontMed;
//   src: url("../fonts/ArbFONTS-URW-DIN-Arabic-Medium.ttf");
// }

// @font-face {
//   font-family: fontKaff;
//   src: url("../fonts/alfont_com_29LT-Kaff-Light.ttf");
// }
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: $main-accent;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $main;
}
.p-component{font-family: 'Cairo' !important;}
body {
  overflow-x: hidden;
  font-family: 'Cairo' !important;
  font-size: 13px !important;
  // background-color: $gray;
  background-color: #ffffff;

  @media screen and (max-width: $screen-xs) {
    font-size: 12px !important;
  }

  #{$ltr} & {
    direction: ltr;
    text-align: left;
  }

  #{$rtl} & {
    direction: rtl;
    text-align: right;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input {
  #{$ltr} & {
    direction: ltr;
  }
  #{$rtl} & {
    direction: rtl;
  }

  &::placeholder {
    color: $main;
    font-size: 13px;
    transition: $main-transition;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

select {
  appearance: none;
  font-size: 13px;
  color: $dark;
}

textarea {
  resize: none !important;
}

i {
  line-height: inherit !important;
  font-size: 13px !important;
}
.pi-angle-double-left,
.pi-angle-left,
.fa-right-long,
.fa-left-long {
  #{$ltr} & {
    transform: rotate(-180deg);
  }
}

p {
  color: $black;
  margin-bottom: 0 !important;
  // font-size: 1px;
  line-height: 2;

  @media screen and (max-width: $screen-sm) {
    line-height: 1.8;
  }
}

input:focus::placeholder {
  color: transparent;
}
*::placeholder {
  color: $placholder-color;
  // font-weight: fontMed;
  font-size: 13px;
  // font-weight: 500;
  transition: $main-transition;
}
form {
  padding: 0;
  #{$ltr} & {
    text-align: left;
  }
  #{$rtl} & {
    text-align: right;
  }
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    color: $main;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.owl-carousel {
  touch-action: manipulation;
}


.p-skeleton {
  opacity: .8;
}

ul {
  padding: 0;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
button,
input[type="submit"] {
  cursor: pointer;
}

button:disabled {
  // pointer-events: none;
  cursor: not-allowed;
}

button,
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
select:focus,
button:focus,
input:focus {
  outline: 0;
}
/* owl carousel*/

// .owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
//     -ms-touch-action: auto;
//         touch-action: auto;
//         display: flex;
//         align-items: center;
// }
/* owl carousel*/

// @media (min-width: $screen-xxl) {
// }



@media (min-width: 1000px) and (max-width: $screen-xxl) {
  .container {
    max-width: 100% !important;
    padding-inline: 80px;
  }
}

@media screen and (min-width: $screen-xxl) {
  .container {
    max-width: 1500px;
  }
}

.radio-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  &.active {
    background-color: $main;
  }
}

.feedback {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 7px 0;
  font-size: 11px;
  color: $red;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s all ease;
  opacity: 0;
  white-space: nowrap;

  span {
    // background-color: #fff;
    padding: 0 5px;
    border-radius: 5px;
  }

  &.valid {
    visibility: visible;
    opacity: 1;
  }

  &.service_feedback {
    bottom: -100%;
  }

  &.type_feedback {
    bottom: -100%;
  }
  
  }


  // font size
@for $i from 1 through 100 {
  .font#{$i} {
    font-size: $i + px !important;

    @media screen and (max-width: 425px) {
      font-size: ($i - 2) + px !important;
    }
  }
}

// height
@for $i from 1 through 200 {
  .height#{$i} {
    height: $i + px !important;
  }
}

// width
@for $i from 1 through 200 {
  .width#{$i} {
    width: $i + px !important;
  }
}
// z-index
@for $i from 1 to 100 {
  .z-index#{$i} {
    z-index: #{$i} !important;
  }
}
.txt-cut {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.overlay-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4a4a4a8f;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  .spinner-border {
    border-left-color: $main;
    border-right-color: #fff;
    border-top-color: $main;
    border-bottom-color: #fff;
  }
  .spinner-border-sm {
    --bs-spinner-width: 2rem;
    --bs-spinner-height: 2rem;
    --bs-spinner-border-width: 0.4em;
  }
}

//  notification items

@keyframes comeDown {
  0% {
      transform: translateY(-100%);
  }

  100% {
      transform: translateY(0);
  }
}

.notification_alert {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item_alert {
      display: flex;
      align-items: center;
      background-color: #fff;
      color: #333;
      padding: 10px;
      border-radius: 5px;
      width: 300px;
      gap: 10px;
      animation: comeDown .5s ease;
      transition: .3s all ease;
      box-shadow:  0 0 5px #ddc;
      .defualt-link {
        color: unset;
      }
      &.fade_out_reverse{
        animation: none;
        transform: translateY(-150%);
      }
      .fa-bell{
        width: 40px;
        height: 40px;
        background-color: $main;
        text-align: center;
        color: #fff;
        line-height: 40px;
        border-radius: 7px;
        display: block;
        flex-shrink: 0;
      }
      .text-title{
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .text_body {
          width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $main;
          font-weight: 600;
      }

      // img {
      //     border-radius: 50%;
      //     background-color: #fff;
      //     padding: 5px;
      //     width: 30px;
      //     height: 30px;
      // }
  }

  // &.show{
  //     opacity: 1;
  //     transform: translateX(0);  
  // }
}


input[type="radio"] {
  width: 20px;
  height: 20px;
}


.toggle-fav__loader {
  width: 20px;
  height: 20px;
  border: 2px solid #46BFB8;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.p-dialog-content {
  @media screen and (max-width: $screen-lg) {
    padding: 0 24px !important;
  }
}


.p-paginator.rtl {
  button[data-pc-section=first],
  button[data-pc-section=prev],
  button[data-pc-section=next],
  button[data-pc-section=last] 
  {
    transform: rotate(180deg);
  }
}